---
---
@import "uno";
@import "tables";
@import "monokai";

/* Modifications */

pre.highlight,
.highlight pre {
  padding: 10px;
}

pre.highlight code,
.highlight pre code {
  white-space: pre-wrap;
}

.btn,
.navigation__item a {
  margin: 5px 0;
  white-space: nowrap;
}

.pagination__page-number {
  display: inline-block;
  padding: 10px;
}

.categories a,
.tags a {
  border: 1px solid #e25440;
  border-radius: 20px;
  color: #e25440;
  display: inline-block;
  font-size: 12px;
  margin: 5px 0;
  padding: 5px 10px;
  text-shadow: none;
  white-space: nowrap;
}

.post-meta__tags {
  font-size: 12px;
  padding: 0 5px;
}

.footer__copyright {
    margin: 0 20px 10px;
}

.user-image {
  margin-bottom: 1.2em;
  position: relative;
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  border-radius:100%;
}

buaa_img {
  float: left;
  margin-right: 30px;
}

nus_img {
  float: left;
  margin-right: 38.65px;
  margin-left: 8.65px;
}

ntu_img {
  float: left;
  margin-right: 39px;
  margin-left: 9px;
}

paper_img {
  float: left;
  margin-right: 30px;
  margin-top: 8px;
}

paper_title {
	font-size: 1.2em; 
  line-height: 26px;
  margin-top: .8em;
	margin-bottom: .4em;
	font-family: "Roboto Slab", serif;
	font-weight: 500;
	color: #333333;
	-webkit-font-smoothing: antialiased; }

.light-text {
  font-weight: lighter;
}

.thin-text {
  font-weight: 100;
}

.extra-light-text {
  font-weight: 200;
}

.light-text-numerical {
  font-weight: 300;
}

.normal-text {
  font-weight: 400; /* or just 'normal' */
}

.medium-text {
  font-weight: 500;
}

.semi-bold-text {
  font-weight: 600;
}

.bold-text {
  font-weight: 700; /* or just 'bold' */
}

.extra-bold-text {
  font-weight: 800;
}

.black-text {
  font-weight: 900;
}