---
layout: default
robots: noindex
---


<div class="main-post-list">

  <ol class="post-list">

    <div id="post-list-resume">
      <div id="page-wrap">
    
        <!-- <img src="images/profile2.jpg" alt="A face made for facemasks" id="pic"/> -->
    
        <div id="contact-info" class="vcard">
        
            <!-- Microformats! -->
        
            <!-- <font face="Roboto Slab" size="22">Yuxuan Wang&nbsp;&nbsp;&nbsp;王宇轩</font> -->
            <h2>Yuxuan <strong>WANG</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;王宇轩</h2>
            <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#333333 SIZE=3>
        </div>
                
        <div id="objective">
            <p class="presume">
              
                <!-- {% assign var1 = site.time | date: '%y' | minus: 15 %} -->
                I am Yuxuan Wang, currently a second-year Ph.D. candidate from <a href="https://mreallab.github.io">
                  MReal Lab</a> in Nanyang Technological University (NTU) supervised by Prof. 
                  <a href="https://personal.ntu.edu.sg/hanwangzhang/">Hanwang Zhang</a>. Before that, I was a 
                  Master of Science student in <a href="https://sites.google.com/view/showlab">Show Lab</a> 
                  of National University of Singapore (NUS) supervised by Prof. 
                  <a href="https://cde.nus.edu.sg/ece/staff/shou-zheng-mike/">Mike Zheng Shou</a>. 
                  I also work closely with Prof. <a href="https://zjuchenlong.github.io">Long Chen</a> from HKUST and Prof. <a href="https://na-z.github.io">Na Zhao</a> from SUTD.
                  My research interest includes but not limited to 3D Generaton and Editing, Unbiased Learning and Vision-Language Understanding.
            </p>
        </div>


        <div id="education-info" class="div-edu">

          <h3>Education</h3>
          <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#333333 SIZE=3>

          <dd>
            <ntu_img><img src="images/ntu.png" alt="ntu" width="62" height="80"></img></ntu_img>
            <h4 class="h2resume"><strong>Nanyang Technological University (NTU)</strong>, Singapore</h4>
            <p class="presume">School of Computer Science and Engineering<br />
              <strong>[2022-Present]</strong> Doctor of Philosophy<br />
          </dd>

          <dd>
            <nus_img><img src="images/nus.png" alt="nus" width="62.7" height="80"></img></nus_img>
            <h4 class="h2resume"><strong>National University of Singapore (NUS)</strong>, Singapore</h4>
            <p class="presume">Electrical and Computer Engineering<br />
              <strong>[2021-2022]</strong> Master of Science<br />
          </dd>

          <dd>
            <buaa_img><img src="images/buaa.png" alt="buaa" width="80" height="80"></img></buaa_img>
            <h4 class="h2resume"><strong>Beihang University</strong>, Beijing, China</h4>
            <p class="presume">School of Electronic Information Engineering<br />
              <strong>[2016-2020]</strong> Bachelor of Engineering<br />
          </dd>
        

        <div id="publication" class="div-edu">

          <h3>Publications</h3>
          <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#333333 SIZE=3>
          <dd>
            <paper_img><img src="images/vcedit.png" alt="buaa" width="180" height="120"></img></paper_img>
            <paper_title class="h2resume">View-Consistent 3D Editing with Gaussian Splatting</paper_title>
            <p></p>
            <p class="presume"><strong>Yuxuan Wang</strong>, Xuanyu Yi, Zike Wu, Na Zhao, Long Chen, Hanwang Zhang<br />
            <em>Poster, <strong>ECCV 2024</strong></em><br />
          </dd>

          <dd>
            <paper_img><img src="images/unbiased_sgg.png" alt="buaa" width="180" height="120"></img></paper_img>
            <paper_title class="h2resume">Improving Scene Graph Generation with Debiasing in Vision-Language Models</paper_title>
            <p></p>
            <p class="presume"><strong>Yuxuan Wang</strong>, Xiaoyuan Liu<br />
            <em><strong>Arxiv 2024</strong></em><br />
          </dd>
          
          <dd>
            <paper_img><img src="images/gebc.png" alt="buaa" width="180" height="120"></img></paper_img>
            <paper_title class="h2resume">GEB+: A Benchmark for Generic Event Boundary Captioning, Grounding and Retrieval</paper_title>
            <p class="presume"><strong>Yuxuan Wang</strong>, Difei Gao, Licheng Yu, Stan Weixian Lei, Matt Feiszli, Mike Zheng Shou<br />
            <em>Poster, <strong>ECCV 2022</strong></em><br />
          </dd>

          <dd>
            <paper_img><img src="images/symbolic.png" alt="buaa" width="180" height="120"></img></paper_img>
            <paper_title class="h2resume">Symbolic Replay: Scene Graph as Prompt for Continual Learning on VQA Task</paper_title>
            <p class="presume">Stan Weixian Lei, Difei Gao, Jay Zhangjie Wu, <strong>Yuxuan Wang</strong>, Wei Liu, Mengmi Zhang, Mike Zheng Shou<br />
            <em><strong>Oral</strong>, <strong>AAAI 2023</strong></em><br />
          </dd>

          <dd>
            <paper_img><img src="images/assistsr.png" alt="buaa" width="180" height="120"></img></paper_img>
            <paper_title class="h2resume">AssistSR: Task-oriented Question-driven Video Segment Retrieval for Personal AI Assistant</paper_title>
            <p class="presume">Stan Weixian Lei, Difei Gao, <strong>Yuxuan Wang</strong>, Dongxing Mao, Zihan Liang, Lingmin Ran, Mike Zheng Shou<br />
            <em>Findings of <strong>EMNLP 2022</strong></em><br />
          </dd>

        </div>

      </div>

      <div id="others" class="div-edu">

        <h3>Others About Me</h3>
        <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#333333 SIZE=3>
        <dd>
          <p class="presume">I'm also a music lover who plays the piano, guitar and a little bit of clarinet. 
            I also like singing and used to be an amateur tenor in BUAA Chorus. Now I've registered as a cover singer in Netease Music and QQ Music.
            Many of my best friends are excellent music players and singers. Thanks for the happiness they shared with me.<br />
            Thanks my girlfriend, Sijing, for her all-time company, caring, and love on my way forward.</p>
      </div>
      
      <body>
      <div id="visitor" class="div-edu"></div>
      <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=858585&w=300&t=n&d=vA7wAzzLIQcn6Lsu0GgmzGcyZ09u5aXn2G8SLUFO3xw&co=ffffff&cmo=3acc3a&cmn=ff5353&ct=808080'></script>
      </div>
      </body>

    </div>

  </ol>

  

  <hr class="post-list__divider ">

  {% if paginator.previous_page or paginator.next_page %}
      {% include pagination.html %}
  {% endif %}

</div>



